@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root{
  --primary: #020b26;
  --secondary: #F2F2F2;
  --green: #BBBF36;
  --red: #F20530
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
}

body{
  font-size: 62.5%;
  font-family: "Tilt Neon", sans-serif;
  background-color: var(--secondary);
}

/*Header style*/
header{
  width: 100%;
  height: 10%;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

header a{
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
}

header a:hover{
  text-decoration: underline;
}

/*Main style*/
main{
  width: 100%;
  height: 90%;
}

main .title{
  width: 100%;
  padding-left: 20px;
}

main .title h1{
  font-size: 1.5rem;
  color: var(--primary);
}

main .article{
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
}

main .article p{
  margin-bottom: 30px;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: justify;
  color: var(--primary);
}

main .article span{
  font-size: 1rem;  
}