@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
  --primary: #020B26;
  --secondary: #F2F2F2;
  --green: #BBBF36;
  --red: #F20530
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Tilt Neon", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
}

/*Header style*/
header {
  width: 100%;
  height: 10vh;
}

header .container {
  max-width: 130rem;
  height: 10vh;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

header a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--primary);
}

header a:hover {
  text-decoration: underline;
}

/*Main style*/
main {
  width: 100%;
}

main article {
  max-width: 130rem;
  margin: auto;
}

main article .title {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main article .title h1 {
  font-size: 2.5rem;
}

main article .about {
  width: 100%;
  display: flex;
}

main article .about .article,
main article .about .logo {
  width: 100%;
  height: 80vh;
}

main article .about .article {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main article .about .article p {
  font-size: 1.6rem;
  text-align: justify;
}

main article .about .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

main article .about .logo img {
  width: 40rem;
  height: 40rem;
}

/* Main Aside */
main aside {
  max-width: 130rem;
  height: 80vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

main aside .slides {
  width: 300%;
  height: 100%;
  display: flex;
  align-items: center;
}

main aside .slides .slide {
  width: 33.33%;
  padding: 0 5rem;
  transition: all 0.6s ease;
}

main aside .slides .slide h1 {
  padding: 1rem;
  font-size: 2.5rem;
}

main aside .slides .slide h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

main aside .slides .slide p {
  font-size: 1.6rem;
}

main aside .slides .slide .explain {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

main aside .slides .slide .explain a {
  color: var(--primary);
}

main aside .slides .slide .explain a:hover {
  text-decoration: none;
}

main aside .slides .slide ul {
  margin-left: 3rem;
}

main aside .slides .slide ul li {
  font-size: 1.6rem;
}

main aside button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: 0;
  cursor: pointer;
  position: absolute;
}

main aside button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

main aside button i {
  font-size: 3rem;
}

main aside .btn-back {
  top: 50%;
  left: 1%;
  transform: translate(-1%, -50%);
}

main aside .btn-next {
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
}

main aside .slide-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -1%);
}

main aside .slide-bar .bar {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  cursor: pointer;
}

main aside .slide-bar .current-bar {
  transition: all 0.5s ease;
  background-color: var(--primary);
}

/*Footer*/
footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
}

footer .container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
}

footer .container p {
  font-size: 1.6rem;
}